@import "variables";
body {
  margin: 0;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Averia Serif Libre", serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .map {
    width: 100%;
    max-width: 650px;
    aspect-ratio: 700 / 654;
    background-image: url("../../images/mapa.png");
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
.map-text {
  color: $darkBg;
  font-size: clamp(14px, 2vw, 18px);
  span {
    color: $color2;
    font-weight: 300;
  }
}

.map-marker {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 34px;
  height: 34px;
  background: linear-gradient(to bottom, $color1, $color2);
  border-radius: 50%;
  text-indent: -99999px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2),
    inset 0 5px 1px rgba(255, 255, 255, 0.2);

  &::before {
    content: "";
    display: block;
    background-color: #ff5015;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5),
      0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 60%;
    height: 60%;
    border: 1px solid rgb(255, 45, 45);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75), 0 0 10px rgba(0, 0, 0, 0.45);

    &:before {
      background-color: #ff7944;
    }
  }
}

.map-tooltip {
  padding: 15px 25px;
  max-width: 200px;
  background: $darkBg;
  display: inline-block;
  white-space: normal;
  position: fixed;
  transform: scale(0);
  opacity: 0;
  border-radius: 0 4px 4px 12px;
  border: 1px solid $grayColor;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.85), 0 0 15px rgba(0, 0, 0, 0.65),
    0 0 20px rgba(0, 0, 0, 0.4);
  transition: transform 400ms ease, opacity 700ms ease;
  pointer-events: none;

  h2 {
    font-size: clamp(13px, 2.3vw, 1.1rem);
    margin-top: 0;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  span {
    color: $grayColor;
    font-size: 0.9rem;
    font-weight: 100;

    &.strong {
      color: $darkBg;
      text-decoration: underline;
      font-weight: 900;
      font-size: 1rem;
      margin-left: 5px;
      padding: 3px;
      background-color: $color1;
      border-radius: 3px;
    }
  }

  &.active {
    transform: scale(1);
    opacity: 1;
  }
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $color1;
  }
  &:before {
    content: "";
    width: 6px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 7px;
    background-color: $color2;
  }
}

@media (max-width: 750px) {
  .map-marker {
    width: 20px;
    height: 20px;
  }
  .map-tooltip {
    display: none !important;
  }
}
